.body{
    background-color: #181521;
    width: 100%;
}
.longCard{
    width: 90%;
}
.content {
    margin-top: 60px; /* Adjust this value to leave space for the TopBar */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .small-cards {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    margin-top: 20px;
  }
  .mCard{  
    width: 100%;
    margin-right: 3%;
  }                  